<%- include('header') -%>
  <div class="container">
    <% Success = locals.message?message:"" %>
        <% if(Success.length>0) {%>
          <div class="text-center d-flex align-items-center justify-content-center mt-10">
            <div class="alert alert-success alert-dismissible fade show w-50" role="alert">
              <%= Success %>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          </div>
					
				<% } %>
    <div id="home" class="text-light intro p-5 bg-light">
      <div class="display-4 text-center text-warning">Hello, <%=user%>!</div>
      <div class="text-secondary display-4 font-weight-bold text-center">Welcome to the blog world</div>
      <div class="text-secondary h5 pt-2 w-75 mx-auto text-center">Blogs, Whole around the world!!</div>
    </div>

    <div id="gallery1" class="container-fluid pt-5 mt-10  text-center">
      <h3 class="text-light bgtext3">OUR <b>BLOGS</b></h3>
      <h4 class="text-warning">-----</h4>

      <div class="row">
        <% for(let i=0;i<len;i++){ %>

          <div class="card col-lg-12">
            <img class="card-img-top" src="">
            <div class="card-body">
              <h4 class="card-title text-dark text-center pdlr5">
                <%= blogs[i].heading %>
              </h4>
              <p class="card-text text-dark pdlr5">
                <%= blogs[i].content %>
                  </h4>
                  <!-- <h5 class="text-dark text-muted pt-5 pdlr5"><b>SEPTEMBER 26, 2016</b></h5> -->
                  <h6 class="text-warning pdlr5">
                    <%= blogs[i].author %>
                      </h4>
                  </h6>
              </p>
            </div>
          </div>

          <% } %>
            <a href="/route/userblogs"><button class="btn btn-light text-secondary font-weight-bold mt-2">My blogs</button></a>

            <h3 class="text-light bgtext3 mt-5">Add <b>BLOG</b></h3>
            <h4 class="text-warning">-----</h4>
            <section id="addBlog" class="blogForm bg-light p-5 mt-5">
              <form action="/route/blog" method="post">
                <div class="mb-3 px-5">
                  <label for="heading " class="form-label text-secondary font-weight-bold">Heading:</label>
                  <input type="text" class="form-control" id="heading" name="heading" required>
                </div>
                <div class="mb-3 px-5">
                  <label for="content" class="form-label text-secondary font-weight-bold">Content:</label>
                  <textarea type="textfield" class="form-control" rows="5" id="content" name="content" required></textarea>
                </div>
                <input type="hidden" name="user" value="<%=user%>" />
                <button type="submit" class="btn btn-primary">Post</button>
              </form>

            </section>
      </div>

    </div>


  </div>



  <%- include('footer') -%>